
	html,body {
		margin:0px;
		padding:0px;
	}
	
	a {
	  text-decoration:none;
	}
	
	a:link {
		color:#666;
	}
	a:visited {
		color:#666; 
	}
	a:hover {
		color:#999; 
	}
	a:active {
		color:#999; 
	}
	
	#myInfo {
	  margin-left:15%;
	  margin-right:10%;
	}
	
	/*选项链接*/
	ul {
	position:relative;
	margin:10% 15% 30% 5%;
	}
	
	li {
	  list-style:none;
	}
	
	li a{
	  display:block;
	}
	
	#myInfo {
	  margin-left:15%;
	  margin-right:10%;
	}
	
	/*文本start*/
	#main{
		margin:0px;
		padding:0px;
		width:75%;
		float:right;
	}
	
	#contain {
		margin:0 5% 0 5%;
	}
	
	footer,
	#signature {
		background-color:#eee;
		height:auto;
		border-radius:15px;
		padding:3% 0 3% 0;
		text-align:center;
	}
	
	#signature{
		font-size:1.5em;
	}
	blockquote:before{
		content:open-quote;
	}
	blockquote:after{
		content:close-quote;
	}
	
	section .title {
		margin-bottom:5%;
		margin-top:0;
	}
	
	section {
		background-color:#eee;
		height:auto;
		padding:2% ;
		margin:3% 0 3% 0;
		border-radius:15px;
	}
	
@media screen and (min-width:800px){	

	/*导航栏*/
	nav {
		margin:0px;
		padding:0px;
		background-color:#ddd;
		width:25%;
		height:100%;
		position:fixed;
		float:left;
		top:0px;
	}
	
	a,p,h1,i,blockquote,
	footer {
		font-size:auto;
	}
	
	#menu{
		display:none;
	}
	
	#header{
		text-align:center;
		margin-top:5%;
		margin-bottom:15%;
	}
	/*导航栏over*/
}

/*手机显示*/
@media screen and (max-width:800px){
	#header i{
		display:none;
	}
	
	#header{
		margin:3% 5% 0 5%;
	}
	
	*{
		font-size:auto;
	}
	
	#main{
		margin:0px;
		padding:0px;
		width:100%;
		float:down;
	}
	
	#showNav{
		display:none;
	}
	
	#menu{
		float:right;
		margin:2% 2%
	}
}